<div class="container">
  <img src="../../../assets/circle_logo.png" alt="Chat gif" width="180px" height="180px">

  <h1>Sign up with Email</h1>

  <form [formGroup]="signUpForm" class="form">
    <mat-form-field class="form-field">
      <mat-label>Display Name</mat-label>
      <input type="text" matInput formControlName="displayName" placeholder="Display Name">
      <mat-error *ngIf="signUpForm.controls['displayName'].hasError('minlength')">Name is too short</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="email">
      <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">Enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Password">
      <mat-error *ngIf="signUpForm.controls['password'].hasError('minlength')">Password is too short</mat-error>
    </mat-form-field>
  </form>
  
  <button mat-raised-button color="accent" (click)="signUp()">Sign Up</button>
  <br>
  <a routerLink="/login">Already have an account?</a>
</div>